:root {
    --background: 40, 42, 54;
    --current-line: 68, 71, 90;
    --foreground: 248, 248, 242;
    --comment: 98, 114, 164;
    --cyan: 139, 233, 253;
    --green: 80, 250, 123;
    --orange: 255, 184, 108;
    --pink: 255, 121, 198;
    --purple: 189, 147, 249;
    --red: 255, 85, 85;
    --yellow: 241, 250, 140;
}

.smallMarginBegin {
    margin-left: 0.5rem;
}

.smallMarginEnd {
    margin-right: 0.5rem;
}

.smallMarginTop {
    margin-top: 0.5rem;
}

.smallMarginBottom {
    margin-bottom: 0.5rem;
}